
/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){

}
/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
.container{
	width: auto;
}

}
/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
.my_menu {
    display: none;

}
.header .dropdown {
	display: block;
	color: #000;
	float: left;

}

.header .dropdown i{
	color: #000;
	float: left;
}
.header .dropdown i {
	font-size: 30px;
	padding-top: 30px;
}
 #kontakti {
 	margin-top: -160px;
 	float: right;
 }
.my_footer {
	margin-left: -15px;
}
.clok1 {
	float: left;
}
}

/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
 
.container{
	width: auto;
}
 #kontakti {
	margin-top: 0;
	text-align: center;
	float: left;

 }
}
/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){

}
/**/